

    
        <h1><span class= "name">Raghad's</span> To Do List</h1>
        <ul>
            <li>
                <input type="checkbox">
                <a href="/todo/show/1">watch infinity war</a>
            </li>
            
            <li>
                <input type="checkbox">
                <a href="/todo/show/2">go to fulton mall</a>
            </li>
            
            <li>
            <input type="checkbox">
            <a href="/todo/show/3">buy a new phone</a>
            </li>
            
        </ul>
        <input class="break" type="text" placeholder= "add a new todo" >
        
        <input class= "break" type="number" placeholder="pomodoro estimate">

        <input class="break" type="submit" value= "Add">

