<h2>Add a new todo!</h2>
<div id="new-todo-block">
        <form method="post" action="/todo/new">
                <input id="new-todo-description" type="text" name="description" placeholder= "add a new todo..." >
                
                <input id="new-pomodoro-estimate" type="number" name="pomodoro_estimate" placeholder="pomodoro estimate...">
        
                <input id="add-new-todo-button" type="submit" value="Add todo">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
        
        <a href="/todo/index" class="simple-link">Go back...</a>
    </div>
 