
    <p><%=@todo.description%></p>
    <p><%=@todo.pomodoro_estimate%></p>
      <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
  <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>